* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 32px 160px;
}

.div-header-icon {
  display: none;
}

.div-header-right {
  display: flex;
  gap: 12px;
}

.div-local {
  background-color: #ebe5f9;
  padding: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.btn-cart {
  background-color: #f1e9c9;
  padding: 8px;
  border-radius: 6px;
}

.section-banner {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 104px 160px 80px;
  background-image: url(../landingPage/asset/Background.svg);
  background-size: cover;
}

.div-banner {
  width: 560px;
}

h1 {
  font-family: "Baloo 2", sans-serif;
}

.titulo-banner {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 130%;
}

.texto-banner {
  font-size: 20px;
  margin-bottom: 66px;
}

/* .carrinho-banner {

}
.bloco-banner {

}
.temporizador-banner {

}
.cafe-banner {

} */

.img-banner {
  padding: 8px;
  border-radius: 50%;
}

.ul-banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 40px;
}

.lista-banner {
  text-wrap: nowrap;
  display: flex;
  gap: 12px;
  align-items: center;
}

.produtos {
  background-color: #eac036;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  color: black;
}

@media (width <= 1395px) {
  .section-banner {
    justify-content: center;
  }
}

@media (width <= 780px) {
  header {
    padding: 32px 160;
  }
  .section-banner {
    padding: 104px 100px 80px;
  }
}

@media (width <= 638px) {
  .section-banner > img {
    width: 350px;
  }

  .ul-banner {
    grid-template-columns: 1fr;
  }

  .div-btn-produtos {
    display: flex;
    width: 100%;
    justify-content: end;
  }
}

@media (width <= 425px) {
  .ul-banner {
    grid-template-columns: 1fr;
  }
}

@media (width <= 548px) {
  header {
    padding: 32px 40px;
  }
}

@media (width <= 375px) {
  .div-header-icon {
    font-size: 24px;
    color: #8047f8  ;
  }
  .div-header-right {
    display: none;
  }

  .section-banner {
    gap: 20px;
  }
  .titulo-banner {
    font-size: 30px;
  }
  .texto-banner {
    font-size: 16px;
  }
}
